---
title: Vanliga frågor
lang: sv
layout: default
wide: true
---

{% assign section_base = site.baseurl | append: page.section | append: '/' %}

<div class="faq">
  <article class="post-content lead-paragraph">
    <a href="/{{ section_base }}" class="pre-header">{{ page.section }}</a>
    <h1 class="post-title">{{ page.title }}</h1>

    <p>Här samlas de vanligaste frågor. <a href="/om#contact">Hör av dig</a> om du saknar nåt!</p><br/>

    <ul class="post-list">
      {% assign sorted_posts = site.categories.faq | sort:'title' %}
      {% for post in sorted_posts %}
      {% assign post_length = post.content | number_of_words %}
      {% assign post_url_last = post.url | split:'/' | last %}
      <li class="{% if post_length > 100 %}long{% else %}short{% endif %}">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" name="{{ post_url_last }}">{{ post.title }}</a>
        </h2>
        <span class="post-excerpt">{{ post.content | truncatewords: 25 | markdownify | strip_html }}</span>
        {% if post_length > 25 %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Läs mer</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

  </article>
</div>

{% include page-tools.html %}